/* CSS styles */
body {
  background-color: #E9E5D6;
  overflow: hidden;
  color: #362706;
  text-align:center;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  font-size: 4em;
  margin: 4%;
  font-family: 'Rubik', sans-serif;
}

#mancala-board {
  width: 170vh;
  height: 50vh;
  background-color: #464E2E;
  margin: auto;
  display: flex;
  border-radius: 20px;
  border: 1px solid white;
  font-size: 0.6em;
}

.inner-box {
  width: 70%;
  height: 100%;
  display: table;
}

.pit-container {
  width: 100%;
  height: 50%;
  display: flex;
}

.pit {
  width: 14%;
  height: 70%;
  background-color: #ACB992;
  font-size: 4em;
  border-radius: 50%;
  display: inline-block;
  padding: auto;
  margin: auto;
}

/* Apply specific styles to data-pit="14" and data-pit="7" */
div.pit[data-pit="14"], div.pit[data-pit="7"] {
width: 12%;
height: 80%;
border-radius: 20px;
margin: auto;
}

/* Use CSS Grid to evenly distribute the filler pits between 7 and 14 */
#mancala-board > div.pit:not([data-pit="14"]):not([data-pit="7"]) {
  flex: 1; /* Allow these pits to flexibly fill the space between 7 and 14 */
  width: 75%; /* Set the width for the filler pits */
}