<!DOCTYPE html>
<html>
    <head>
        <title>Play Mancala!</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="./style.css">
    </head>
    <body>
        <h1>Mancala</h1>
        <table>
            <tr>
                <td>12</td>
                <td>11</td>
                <td>10</td>
                <td>9</td>
                <td>8</td>
                <td>7</td>
            </tr>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
            </tr>
        </table>

    </body>
</html>