body, html {
    overflow-y: auto;
    margin: 0; 
    padding: 0; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Consistent font family */
}

/* Assuming .content is the main container for your about page content */
.content {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    min-height: 100vh; 
    margin-top: 0; 
}

/* Individual section/container adjustments */
.creators-container, .acknowledgments-container, .contact-container {
    width: 100%; 
}

h1 {
    font-size: 4vw; 
    margin: 2% 0; 
}

h2 {
    font-size: 2vw; 
    margin: 1% 0; 
    letter-spacing: 1px;
}

.about-container {
    padding: 20px;
    border-radius: 5px; 
}

.creators-container {
    text-align: center; 
    margin: 20px 0;
}

.creators-container h2 {
    margin-bottom: 10px; 
}

.creators-container ul {
    list-style: none;
    padding: 0;
    margin: 0; 
}

.creators-container li {
    margin-bottom: 10px; 
}

.acknowledgments-container {
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px; 
}

.contact-container {
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px; 
}

@media (max-width: 600px) {
    h1 { font-size: 6vw; }
    h2 { font-size: 5vw; }
    li { font-size: 3.5vw; }
    .about-container,
    .acknowledgments-container,
    .contact-container {
        margin: 5%;
        padding: 10px;
    }
}
