.board {
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    background-color: #464E2E;
    padding: 1%;
    margin: 4%;
    width: 150vh;
    height: 44vh;
    border-radius: 20px;
}

.middle {
    flex-grow: 1;
    height: 100%;
}

.section {
    display: inline-block;
    width: 10%;
    flex: 2;
    height: 100%;
}