/* styling for the Game */

h1 {
  text-align: center;
  margin: 4px;
}

.name-entry-form {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  background: rgba(255, 255, 255, 0.549);
  width: 100%; 
  max-width: 400px; 
  margin: auto;
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
}

/* Button styling */
.name-entry-form button {
  padding: 15px 30px;
  font-size: 20px; 
  color: white;
  background-color: #5C832F; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 80%; 
  max-width: 350px; 
  margin-top: 20px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

/* Input fields styling */
input[type='text'] {
  padding: 15px;
  margin: 15px 0;
  border: 2px solid #ACB992;
  border-radius: 5px;
  width: 80%; 
  max-width: 350px; 
  box-sizing: border-box;
  font-size: 18px;
  text-align: left; 
}
button:hover {
  background-color: #cd6a31; 
}

/* Hover effects for input fields */
input[type='text']:hover,
input[type='text']:focus {
  border-color: #cd6a31; 
}



.turn {
  font-size: 30px;
  font-weight: bold;
}

/* Special Moves Box */
.noti-box {
  text-align: center;
  justify-content: center;
  align-content: center;
  font-size: 24px;
  font-style: italic;
  margin: 11px;
  height: 22px;
}
  
.board {
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  background-color: #464E2E;
  padding: 1%;
  margin: 1%;
  width: 155vh;
  height: 48vh;
  border-radius: 20px;
}

button {
  margin: auto;
  padding: auto;
  font-size: 22px;
  cursor: pointer;
}

/* for the middle pit pieces */
.pits-box {
  display: inline-block;
  flex: 4;
  height: 100%;
}

.pit {
  background-color: #ACB992;
  display: inline-flex;
  height: 99px;
  width: 99px;
  margin: 22px 4px;
  border-radius: 44px;
  padding: auto;
  justify-content: center;
  border: #cd6a31 3px solid;
}

.pit.not-clickable {
  cursor: not-allowed;
  background-color: #757d64;
  border: none;
}

/* for the score pits */
.scores {
  display: inline-block;
  height: 100%;
  flex: 1;
}

.score {
    background-color: #8e9d72;
    border-radius: 20px;
    width: 100%;
    height: 100%;
}
