/* styling for the Game */

h1 {
  text-align: center;
  margin: 4px;
}

/* for the player's turn header */
.turn {
  font-size: 30px;
  font-weight: bold;
}

/* Special Moves Box */
.noti-box {
  text-align: center;
  justify-content: center;
  align-content: center;
  font-size: 24px;
  font-style: italic;
  margin: 11px;
  height: 22px;
}
  
.board {
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  background-color: #464E2E;
  padding: 1%;
  margin: 1%;
  width: 155vh;
  height: 48vh;
  border-radius: 20px;
}

button {
  margin: auto;
  padding: auto;
  font-size: 22px;
  cursor: pointer;
}

/* for the middle pit pieces */
.pits-box {
  display: inline-block;
  flex: 4;
  height: 100%;
}

.pit {
  background-color: #ACB992;
  display: inline-flex;
  height: 99px;
  width: 99px;
  margin: 22px 4px;
  border-radius: 44px;
  padding: auto;
  justify-content: center;
  border: #cd6a31 3px solid;
}

.pit.not-clickable {
  cursor: not-allowed;
  background-color: #757d64;
  border: none;
}

/* for the score pits */
.scores {
  display: inline-block;
  height: 100%;
  flex: 1;
}

.score {
    background-color: #8e9d72;
    border-radius: 20px;
    width: 100%;
    height: 100%;
}